<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="C:\Windows\Temp\ConsoleApplication\nlog-internal.log" >
  <time type="FastUTC" />
  <highlight-row condition="level == LogLevel.Info" foregroundColor="DarkYellow" />
  <targets>
    <target name="file" xsi:type="File"
              fileName="${basedir}/Logs/${shortdate}.log"
              layout="[${date:format=yyyy-MM-dd HH\:mm\:ss}] [${level}] [${logger}] ${message} ${exception:format=tostring}"
              concurrentWrites="false" keepFileOpen="false"/>
    <target name="console" xsi:type="ColoredConsole"
            layout="[${date:format=HH\:mm\:ss}] [${level}] [${logger:shortName=true}] ${message} ${exception:format=tostring}">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>
    </targets>
  <rules>
    <logger name="*" writeTo="console,file"/>
  </rules>
</nlog>